@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Anek+Malayalam&family=Anton&family=Bellota+Text&family=Caveat&family=Charis+SIL:ital@1&family=Dancing+Script&family=Exo+2&family=Kdam+Thmor+Pro&family=Lato&family=Libre+Baskerville:wght@700&family=Mukta:wght@200&family=Open+Sans:wght@300&family=Oswald:wght@200;300;400;600&family=Pacifico&family=Permanent+Marker&family=Poppins&family=Quicksand&family=Raleway:wght@700&family=Rubik&family=Source+Sans+Pro:wght@300&display=swap');


*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    font-family: 'Quicksand', sans-serif;
}